ul(id='messages' class="list-group chat-list height-95" style="width=100% !important;")
form(id='chat-form')
    div(class="form-group")
      .input-group
        input.form-control(id='message', class="form-control", autocomplete=off)
        span.input-group-btn
          button.btn.btn-default Send
